* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #121212;
    --text-color: #fff;
    --main-color: #fd560d;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgb(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.home-image img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color),
        0 0 15px var(--main-color),
        0 0 50px var(--main-color);
    cursor: pointer;
}

.home-image img:hover {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--main-color),
        0 0 25px var(--main-color),
        0 0 70px var(--main-color);
    transform: scale(1.01);
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.7rem;
    font-weight: 400;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background: var(--main-color);
}

.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: medium var(--main-color);
    border-radius: 0.25em;
    color: var(--main-color);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.button p {
    z-index: 1;
}

.button:hover {
    color: #000000;
}

button:active {
    border-color: var(--main-color);
}

.button::after,
.button::before {
    content: '';
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: var(--main-color);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.button::before {
    left: 0;
    transform: translateX(-8em);
}

.button::after {
    right: 0;
    transform: translateX(8em);
}

.button:hover::before {
    transform: translateX(-1em);
}

.button:hover::after {
    transform: translateX(1em);
}

.button:active::before,
.button:active::after {
    background: transparent;
}

/* .typing-test {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-test span {
    position: relative;
}

.typing-test span::before {
    content: '2nd Year BSIT student';
    color: var(--main-color);
    animation: words 20s infinite;
}

.typing-test span::after {
    content: '';
    position: absolute;
    background-color: var(--bg-color);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 0s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%, 20% {
        content: '2nd Year BSIT student';
    }
    21%, 40% {
        content: '2nd Year BSIT student';
    }
    41%, 20% {
        content: '2nd Year BSIT student';
    }
    61%, 80% {
        content: '2nd Year BSIT student';
    }
    81%, 100% {
        content: '2nd Year BSIT student';
    }
}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}*/

#about {
    padding: 20px;
    background-color: var(--bg-color);
}

/* Style for the section title */
#about .page-title {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
    font-size: 4rem;
}

/* Container inside the about section */
#about .container {
    justify-content: center;
}

#about .content-wrapper {
    display: inline-block;
    flex-wrap: wrap;
    /* Ensures responsiveness */
    align-items: center;
    /* Vertically centers items */
    gap: 20px;
    /* Adds space between the image and text */
}

#about .image {
    justify-content: center;
    max-width: 40%;
    /* Sets a maximum width for the image container */
}

#about .image img {
    align-items: center;
    margin-left: 60vh;
    width: 100%;
    /* Makes the image fill its container */
    border-radius: 10px;
    /* Optional: Adds rounded corners to the image */
}


/* Paragraph text */
#about p {
    color: var(--text-color);
    justify-content: center;
    font: 2em sans-serif;

}

/* Highlight list items */
#about ul li {
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--main-color);
    font: 2rem sans-serif;
}

/* Style for bold text */
#about b {
    color: var(--main-color);
    font: 2rem sans-serif;
}

/* Links */
#about a {
    color: var(--main-color);
    text-decoration: none;
}

#about a:hover {
    text-decoration: underline;
}

/* Additional styling for better aesthetics */
#about .flow-text {
    font-size: 1.2em;
}

.content-section.experience {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;

}

/* Styling for the header inside the experience section */
.content-section.experience h3 {
    color: var(--main-color);
    font-size: 4rem;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
    margin-bottom: 20px;


}

/* List styling for the experience details */
.content-section.experience ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Individual list item styling */
.content-section.experience li {
    padding: 10px 0;
    border-bottom: 1px solid var(--main-color);
    font-size: 18px;
}

/* Last list item has no border */
.content-section.experience li:last-child {
    border-bottom: none;
}

/* Bold text inside the list items */
.content-section.experience b {
    color: var(--main-color);
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
    .content-section.experience {
        max-width: 100%;
        margin: 0 auto 10px;
    }

    .content-section.experience h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .content-section.experience li {
        font-size: 16px;
    }
}

/* Footer Styling */
footer {
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 2px solid var(--main-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer p strong {
    color: var(--main-color);
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    footer {
        font-size: 12px;
        padding: 10px;
    }
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 70px;
    background-color: var(--bg-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px var(--main-color);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--main-color);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-color);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: var(--text-color);
    font-weight: 700;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}


.card__description {
    margin: 10px 0 0;
    font-size: 12px;
    color: var(--text-color);
    line-height: 1.4;
}

.page-title {
    border-bottom: 2px solid var(--main-color);
    font-size: 4rem; 
    color: var(--main-color); 
    text-align: center; 
    margin-bottom: 20px; 
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    
}

.para p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
}

.resort-title, 
.ecom-title,
.github-title {
    border-bottom: 2px solid var(--main-color);
    font-size: 4rem; 
    color: var(--main-color); 
    text-align: center; 
    margin-bottom: 20px;
}

.para img {
    width: auto;
    height: 520px;
}

.link {
    text-align: center;
    margin-top: 30px;
}

.link h2 {
    margin-bottom: 10px;
    color: var(--main-color);
    
}

.link .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--main-color); /* Button color */
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link .button:hover {
    background-color: var(--bg-color); /* Button color on hover */
}











@media (max-width:995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
        display: none;
    }

    .navbar .active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a:active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }
}

@media (max-width: 1000px) {
    .home {
        gap: 2rem;
    }

    @media (max-width: 995px) {
        .home {
            flex-direction: column;
            margin: 0rem 2rem;
        }

        .home .home-content h3 {
            font-size: 2.5rem;
        }

        .home .home-content h1 {
            font-size: 5rem;
        }

        .home .home-image img {
            width: 70vw;
            margin-top: 4rem;
        }
    }
}